@page "/"

<h3>M E N U</h3>
<hr />

<NavLink class="nav-link" href="Product">
<div class="card btn btn-primary text-white bg-primary" >
    <div class="card-body">
        <i class="bi bi-shop"></i> Products
    </div>
</div>
</NavLink>



<NavLink class="nav-link" href="Category">
    <div class="card btn btn-primary text-white bg-primary">
        <div class="card-body">
            <i class="bi bi-tags"></i> Categories
        </div>
    </div>
</NavLink>
