
.modal-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #049DD9 !important;
    color: white;
}


.modal-header {
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.modal-title {
    font-weight: 600;
    color: white !important;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    text-align: right;
}

.btn-primary {
    background-color: rgb(5, 23, 61);
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
